/* ===================
 table of contents
======================
 
1. left section
2. right section Animation

 
*/



section.hero {
    margin-top: 3rem;
}

/* =====================
   1. left section
======================== */

section.hero .parent-avatar.flex {
    align-items: end;
    gap: 0.6rem;
    min-height: 88px;

}


section.hero .left-section {
    flex-grow: 1;
}

section.hero .avatar {
    height: 88px;
    border-radius: 50%;
    border: 1px solid var(--darkblue);
    padding: 2px;
    box-shadow: 7px 7px 40px black inset;


}

div.icon-verified {
    color: var(--darkblue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;

}

section.hero h1.title {
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0px;
    color: var(--title);
}

section.hero p.sub-title {
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin: 20px 0px;
}

section.hero div.all-icons {
    font-size: 1.2rem;
    gap: 1.5rem;
    margin: 20px 0px;
    color: var(--subtitle);

}

section.hero div.all-icons :hover {
    /* font-size: 1.3rem; */
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.7s;
    color: var(--darkblue);
}





/* =====================
   2. right section Animation
======================== */


.animation {
    width: 100%;
    translate: 100px 55px;
}


/* =====================
   3. responsive Design 
======================== */



@media (max-width: 1000px) {
    .right-section {
        display: none;
    }
}